<div class="side-header">
  <div class="user-name">
    <a href="#">Tom</a>
  </div>
  <div class="chat-create-button">
    <a href="#">チャットを作成する</a>
  </div>
</div>
<div class="side-main">
  <div class="room-number">
    <a href="#">room1</a>
  </div>
  
  <div class="room-number">
    <a href="#">room2</a>
  </div>
</div>
   